
body .cn { color: #e0e0e0; } /* Comment.Negative */

.cn-line {font-size: 0.9em; display: "none"; }

span.showNegatives { 
    font-family: 'Arial','sans'; font-size: 0.6em; color: #333;
    border: solid 1pt #aaa; padding: 0.2em; 
}
